.header {
  margin: 1rem 2rem 0rem;

  display: flex;
  justify-content: space-between;

  font-size: 14px;
}
.bold {
  font-weight: bold;
}
.box {
  position: relative;
  background-color: #242424;
  padding: 1rem;
  border-radius: 10px;
}
.problem-title {
  margin: 0px;
  font-size: 14px;
}
.difficulty-chip {
  font-size: 10px !important;
  margin: 0px 0px 4px 0px !important;
}
.show-topics-btn,
.show-topics-btn-margin,
.daily-show-topics-btn {
  color: #8b8b8b !important;
  padding: 0px !important;
  font-size: 8px !important;
  min-width: unset !important;
}
.open-in-new-icon {
  position: absolute;
  bottom: 3px;
  right: 8px;
  color: #8b8b8b !important;
}
.open-in-new-icon:hover {
  cursor: pointer;
}
.topics-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.topics {
  font-size: 10px;
  margin: 2px 4px 2px 0px;
}

/* DAILY COMPONENT */
.daily-wrapper {
  position: relative;
  margin: 0rem 2rem;
}
.daily-date {
  font-size: 14px;
  text-align: center;
}
.show-topics-btn-margin,
.daily-show-topics-btn {
  display: block !important;
}
.show-topics-btn-margin {
  margin-top: 10px !important;
}

/* USER COMPONENT */
.no-user-wrapper {
  margin: 0rem 2rem 1rem;
}
.user-wrapper {
  margin: 0rem 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
.user-difficulty-text {
  font-size: 10px;
  margin: 5px 0px;
}
.user-difficulty-text-wrapper {
  display: flex;
  justify-content: space-between;
}

/* RANDOM COMPONENT */
.random-wrapper {
  margin: 0rem 2rem 1rem;
  text-align: center;
}
.random-title {
  font-size: 14px;
  font-weight: bold;
}
.random-subtitle {
  font-size: 12px;
}
.tab.MuiButtonBase-root {
  min-width: 50px !important;
  min-height: 30px !important;
}
.MuiTabs-indicator {
  top: 35px;
}
.random-topic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MuiInput-input {
  color: #ffa726 !important;
  font-size: 12px !important;
}
